<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="32505e0b-5f1d-422e-9b23-7dd47a2b927f"
            Publisher="CN=quocdunginfo"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>engVidWS</DisplayName>
    <PublisherDisplayName>quocdunginfo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="engVidWS.App">
        <VisualElements
            DisplayName="engVidWS"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="engVidWS"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>